.header {
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .topbar {
  background-color: #373737;
  color: white;
  font-size: 0.7rem;
  font-weight: 300;
  height: 38px;
}

.header .topbar li {
  display: inline;
  float: right;
  margin-right: 2rem;
  line-height: 38px;
  cursor: pointer;
}

.header .topbar .icons li {
  display: inline;
  float: right;
  font-size: 1rem;
  margin-right: 1rem;
  line-height: 38px
}

.header .topbar li:hover {
  color: #848484;
  transition: 0.3s;
}

.header .top-navbar {
  background-color: #00b089;
  color: white;
  font-weight: 700;
  height: 85px;
}

.header .top-navbar img {
  height: 50%;
  line-height: 85px;
  margin-left: 2rem;
  margin-top: 2%;
  max-width: 230px;
}

.top-navbar-content {
  align-items: center;
  float: right;
}

.top-navbar-content ul {
  margin-right: 2rem;
}

.top-navbar-content li {
  display: inline;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 85px;
  padding-right: 2rem;
}

.top-navbar-content .form-control {
  border-radius: 0;
  border: none;
  display: inline-block;
  float: right;
  width: 1rem;
}
