.header .topbar {
  background-color: #373737;
  color: white;
  font-size: 0.7rem;
  font-weight: 300;
  height: 38px;
}

.header .topbar li {
  display: inline;
  float: right;
  margin-right: 2rem;
  line-height: 38px;
  cursor: pointer;
}

.header .topbar .icons li {
  display: inline;
  float: right;
  font-size: 1rem;
  margin-right: 1rem;
  line-height: 38px
}

.header .topbar li:hover {
  color: #848484;
  transition: 0.3s;
}

.header .top-navbar {
  background-color: #00b089;
  color: white;
  font-weight: 700;
  height: 85px;
  display: flex;
  flex-direction: row;
}

.header .top-navbar img {
  display: flex;
  flex: 15%;
  height: 60%;
  line-height: 85px;
  margin-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 230px;
}

.top-navbar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-navbar-content-flex {
  display: flex;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  justify-content: space-around;
}
.top-navbar-content-flex p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 400;
}

.top-navbar-content p:hover {
  color: yellow;
  cursor: pointer;
}

.top-navbar-content .input-group {
  display: flex;
  flex: 30%;
  height: 35px;
  margin-top: auto;
  margin-right: 1rem;
  margin-bottom: auto;
  width: 14rem;
}

.top-navbar-content .form-control {
  border-radius: 0;
  border: none;
  display: inline-block;
  width: 60%;
}

.top-navbar-content p {
  margin: 0 0.7rem;
}

.top-navbar-content span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  background-color: #77c042;
  font-size: 0.7rem;
  font-weight: 400;
  width: 100%;
}

.top-navbar-content span:hover {
  background-color: #68a939;
  transition: 0.3s;
}

a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
}
