<div class="card" *ngFor="let currentTeapot of gridTeapotList | filter:childfilterParam" (mouseenter)="showQuickviewButton(currentTeapot)" (mouseleave)="hideQuickviewButton()">
  <div class="quickview" *ngIf="hoveredTeapot===currentTeapot" (click)="quickviewButtonClicked(currentTeapot)">
    <p>+QUICKVIEW</p>
  </div>
  <app-quickview [childCurrentTeapot]="currentTeapot" *ngIf="clickedTeapot===currentTeapot"></app-quickview>
  <div class="card-image">
    <img class="card-img-top" src="{{currentTeapot.image}}" alt="Card image">
  </div>
  <div class="card-body" (click)="test()">
    <p class="grid-price">${{currentTeapot.price}}</p>
    <div class="grid-title">
      <p class="grid-name">{{currentTeapot.name}}</p>
      <p class="grid-rating"><i class="fa fa-star" *ngFor="let star of currentTeapot.rating"></i></p>
    </div>
  </div>
</div>
