<div class="card">
  <img class="card-img-top" src="../assets/img/redstump.jpeg" alt="Card image">
  <div class="card-body">
    <h4>$30.00</h4>
    <h4 class="card-title">stump teapot with infuser</h4>
    <p class="card-text">rating</p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="../assets/img/redstump.jpeg" alt="Card image">
  <div class="card-body">
    <h4>$30.00</h4>
    <h4 class="card-title">stump teapot with infuser</h4>
    <p class="card-text">rating</p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="../assets/img/redstump.jpeg" alt="Card image">
  <div class="card-body">
    <h4>$30.00</h4>
    <h4 class="card-title">stump teapot with infuser</h4>
    <p class="card-text">rating</p>
  </div>
</div>
