<div class="card" *ngFor="let teapot of teapots | async | filter:childfilterParam" (mouseenter)="showQuickviewButton(teapot)" (mouseleave)="hideQuickviewButton()">
  <div class="quickview" *ngIf="hoveredTeapot===teapot" (click)="quickviewButtonClicked(teapot)">
    <p>+QUICKVIEW</p>
  </div>
  <app-quickview [childteapot]="teapot" *ngIf="clickedTeapot===teapot" (quickviewOffSender)="quickviewOff()"></app-quickview>
  <div class="card-image">
    <img class="card-img-top" src="{{teapot.images[0]}}" alt="Card image">
  </div>
  <div class="card-body">
    <p class="grid-price">${{teapot.price}}</p>
    <div class="grid-title">
      <a class="navbar-brand" routerLink="item-detail" (click)="goToDetailPage(teapot)"><p class="grid-name">{{teapot.name}}</p></a>
      <p class="grid-rating"><i class="fa fa-star" *ngFor="let star of teapot.rating"></i></p>
    </div>
  </div>
</div>
