h4, p {
  margin: 0;
  padding: 0;
}

.cart {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
}

.cart-item-total {
  width: 70%;
  background-color: white;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem;
  border-bottom: 1px solid #f1f1f1;
  color: #373737;
}

.cart-item img {
  height: 5rem;
  width: 5rem;
}

.cart-item-all {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.cart-item-name p {
  font-size: 0.8rem;
  color: grey;
}

.cart-item-desc h5 {
  font-size: 0.8rem;
}

.cart-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  width: 30%;
}

.cart-payment-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.cart-payment-subtotal {
  color:#3ebc8d;
  font-weight: 300;
}

.cart-payment button {
  height: 50px;
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 3.125rem;
  letter-spacing: .1rem;
  background-color: #3ebc8d;
  color: #fff;
  background-image: linear-gradient(#3ebc8d,#39ac81);
}

.cart-payment button:hover {
  cursor: pointer;
  background-image: linear-gradient(#39ac81, #3ebc8d);
}
