<div class="wrapper">
  <div class="header">
    <div class="topbar">
      <ul class="icons">
        <li><i class="fa fa-pinterest-p"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-instagram"></i></li>
        <li><i class="fa fa-facebook"></i></li>
      </ul>
      <ul>
        <li>Sign In</li>
        <li>Stash Rewards</li>
        <li>Customer Help</li>
      </ul>
    </div>
    <div class="top-navbar">
      <img src="../assets/img/global-logo_stashtea.png" alt="Stash Tea logo">
    </div>
  </div>
  <div class="banner">

  </div>
</div>
