<div class="sidebar">
  <p class="filter-title">FILTER BY</p>
  <div class="filters">
    <div class="filters-field" *ngIf="selectedFilter === null" (click)="showFilter()">
      <p>ACCESSORIES</p><i class="fa fa-caret-left"></i>
    </div>
    <div class="filters-field-selected" *ngIf="selectedFilter">
      <div class="filters-field-selected-title" (click)="hideFilter()">
        <p>ACCESSORIES</p><i class="fa fa-caret-down"></i>
      </div>
      <form>
        <div>
          <input type="checkbox" id="accessories-infuser" name="accessories" value="true">
          <label for="accessories">with infuser</label>
        </div>
        <div>
          <input type="checkbox" id="accessories-lid" name="accessories" value="true">
          <label for="accessories">with lid</label>
        </div>
      </form>
    </div>
    <div class="filters-field">
      <p>CAPACITY</p><i class="fa fa-caret-left"></i>
    </div>
    <div class="filters-field">
      <p>CARE</p><i class="fa fa-caret-left"></i>
    </div>
    <div class="filters-field">
      <p>SPECIAL MATERIALS</p><i class="fa fa-caret-left"></i>
    </div>
    <div class="filters-field">
      <p>STYLE</p><i class="fa fa-caret-left"></i>
    </div>
  </div>
</div>
