.sidebar {
  width: 100%;
}

.sidebar .filter-title {
  display: flex;
  height: 21px;
  width: 100%;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 1.2rem;
}

.sidebar .filters {
  color: #75c044;
  font-size: 0.8rem;
  background-color: white;
  margin: 0;
  width: 100%;
}

.sidebar .filters p {
  display: block;
  width: 100%;
  line-height: 3.5rem;
  margin: 0;
  padding-left: 1.2rem;
}

.sidebar .filters i {
  font-size: 1.5rem;
  float: right;
  margin-right: 1.2rem;
  margin-top: 1rem;
}

.sidebar .filters p:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.sidebar .filters-field {
  width: 100%;
  display: flex;
  flex-direction: row;
}
