<div class="sidebar">
  <p class="filter-title">FILTER BY</p>
  <div class="filters">
    <div class="filters-field">
      <p>ACCESSORIES<i class="fa fa-caret-left"></i></p>
    </div>
    <div class="filters-field">
      <p>CAPACITY<i class="fa fa-caret-left"></i></p>
    </div>
    <div class="filters-field">
      <p>CARE<i class="fa fa-caret-left"></i></p>
    </div>
    <div class="filters-field">
      <p>SPECIAL MATERIALS<i class="fa fa-caret-left"></i></p>
    </div>
    <div class="filters-field">
      <p>STYLE<i class="fa fa-caret-left"></i></p>
    </div>
  </div>
</div>
