<div class="sidebar">
  <p class="filter-title">FILTER BY</p>
  <div class="filters">
    <div class="filter-individual" *ngFor="let filter of sidebarFilterList">
      <div class="filters-field" (click)="showFilter(filter)" *ngIf="selectedFilter===null || selectedFilter!==filter">
        <p>{{filter.name}}</p><i class="fa fa-caret-left"></i>
      </div>
      <div class="filters-field-selected" *ngIf="selectedFilter===filter">
        <div class="filters-field-selected-title" (click)="hideFilter()">
          <p>{{filter.name}}</p><i class="fa fa-caret-down"></i>
        </div>
        <form>
          <div *ngFor="let param of filter.params">
            <input type="checkbox" name="filters" value="true">
            <label for="filters">{{param}}</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
