.quickview {
  background-color: rgb(255,255,255,.9);
  width: 100%;
  position: fixed;
  text-align: center;
  top: 25%;
  z-index: 2;
}

.quickview p {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 3rem;
  margin: auto;
}

.quickview:hover {
  background-color: #00b089;
  color: white;
  transition: 0.3s;
}
