.quickview-modal {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  left: 15%;
  top: 5%;
  z-index: 10000;
  height: 90%;
  width: 75%;
  max-width: 992px;
  min-height: 560px;
  max-height: 740px;
  box-shadow: 0 5px 34px 1px rgba(20,20,20,0.12);
}

.quickview-modal-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem 1.5rem;
}

.quickview-modal-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem 1.5rem;
  width: 100%;
}

.quickview-modal-right .remove {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}

.quickview-modal-summary p {
  display: flex;
  justify-content: flex-end;
}

.quickview-modal-summary h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.quickview-modal-summary h3 {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.quickview-modal-preview {
  margin: 10% auto;
  width: 85%;
}

.quickview-modal-preview img {
  margin: 10% auto;
  width: 85%;
}

.quickview-modal-summary p {
  font-size: 0.8rem;
  color: #838383;
}

.quickview-modal-summary .colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #f8f8f8;
  border-right: 2px solid #f8f8f8;
  border-left: 2px solid #f8f8f8;
}

.quickview-modal-summary .colors:hover {
  color: #75c044;
  border: 2px solid #75c044;
}

.quickview-modal-summary .colors p {
  display: block;
  margin: 0;
  padding: 1rem;
  scroll-behavior: auto;
}

.quick-cart {
  display: flex;
  align-items: center;
}

.quick-cart button {
  flex: 1;
  height: 50px;
  padding: 0;
  margin-top: 1rem;
  line-height: 3.125rem;
  letter-spacing: .1rem;
  background-color: #3ebc8d;
  color: #fff;
  background-image: linear-gradient(#3ebc8d,#39ac81);
}

.quick-cart button:hover {
  cursor: pointer;
  background-image: linear-gradient(#39ac81, #3ebc8d);
}

.quick-cart span {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.carousel-control-prev, .carousel-control-next i {
  color: black;
  font-size: 3rem;
}
