<div class="quickview-modal">
  <div class="quickview-modal-left">
    <div class="quickview-modal-preview">
      <span><i class="fa fa-arrow-left"></i></span>
      <img src="{{childCurrentTeapot.image}}" alt="{{childCurrentTeapot.name}} image">
      <span><i class="fa fa-arrow-right"></i></span>
    </div>
  </div>
  <div class="quickview-modal-right">
    <div class="remove" (click)="toggleQuickview()">
      <span><i class="fa fa-remove"></i></span>
    </div>
    <div class="quickview-modal-summary">
      <p>Item: #{{childCurrentTeapot.id}}</p>
      <h2>{{childCurrentTeapot.name }}</h2>
      <h3 *ngIf="childCurrentTeapot.colors.length > 0">Select a Color</h3>
      <div class="colors" *ngFor="let color of childCurrentTeapot.colors">
        <p>{{color}}</p>
        <p>$ {{childCurrentTeapot.price}}</p>
      </div>
    </div>
  </div>
</div>
